<table>
   <tr>
       <th>Invoice Number</th>
       <th>Room</th>
       <th>And Serial No.</th>
       <th>Name</th>
       <th>Checkin</th>
       <th>Checkout</th>
       <th>Booking ID</th>
       <th>OTA Booking id</th>
       <th>Booking Type</th>
       <th>OTA Type</th>
       <th>Serial No</th>
       <th>Mobile</th>
       <th>Adult</th>
       <th>Hotel Name</th>
       <th>Room Price</th>
       <th>Nights</th>
       <th>CGST</th>
        <th>SGST</th>
        <th>Total</th>
        
        <th>Select</th><th>Cash</th><th>Paytm</th><th>Phone pe</th><th>Bill to Corporate</th><th>OYO BTC PAYMENT</th><th>OTA BTC PAYMENT</th><th>BOOKING BTC PAYMENT</th><th>GOMMT BTC PAYMENT</th><th>HAPPYEASYGO BTC</th><th>AGODA BTC PAYMENT</th><th>BREVISTAY BTC PAYMENT</th><th>BAG2BAG BTC PAYMENT</th><th>STAYUNCLE BTC PAYMENT</th><th>FAB BTC PAYMENT</th><th>Cleartrip BTC Payment</th><th>Airbnb BTC Payment</th><th>Expedia BTC Payment</th><th>Hourlyrooms BTC Payment</th><th>EasyMyTrip BTC Payment</th><th>MHVPL Bank Account</th><th>Cherish BTC Payment</th><th>EGlobe BTC Payment</th><th>Passerine Bank Account</th><th>MiStay BTC Payment</th>        <th>Remark</th>
        <th>Company Gst No.</th>
       
      
   </tr>
         
     <tr>
         <td>IV5890</td>
         <td>109</td>
         <td>5890</td>
         <td>PRINCE</td>
         <td>2023-05-06 20:23:57.000000</td>
         <td>2023-05-09 00:00:00.000000</td>
         <td>PR8828</td>
         <td>64566a05e5cba</td>
         <td>F9</td>
         <td></td>
         <td>5890</td>
         <td>8172970696</td>
         <th>4</th>
         <th>Imperial Villa</th>
         <th>2500</th>
         <th>3</th>
         <th>150           </th>
           <th>150</th>
           <th>2500</th>
         <th></th><th>2500</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5890</td>
         <td>111</td>
         <td>5890</td>
         <td>PRINCE</td>
         <td>2023-05-06 20:23:57.000000</td>
         <td>2023-05-09 00:00:00.000000</td>
         <td>PR8828</td>
         <td>64566a05e5cba</td>
         <td>F9</td>
         <td></td>
         <td>5890</td>
         <td>8172970696</td>
         <th>4</th>
         <th>Imperial Villa</th>
         <th>2500</th>
         <th>3</th>
         <th>150           </th>
           <th>150</th>
           <th>2500</th>
         <th></th><th>2500</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td>09AFHPA2155G1ZS</td>
     </tr> 
   
         
     <tr>
         <td>IV5921</td>
         <td>112</td>
         <td>5921</td>
         <td>MALVIKA</td>
         <td>2023-05-09 08:30:06.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>6459b736bd4c6</td>
         <td>OTA</td>
         <td>BREVISTAY</td>
         <td>5921</td>
         <td>8587011306</td>
         <th>2</th>
         <th>Imperial Villa</th>
         <th>2030</th>
         <th>1</th>
         <th>122           </th>
           <th>122</th>
           <th>2030</th>
         <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>2030</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5922</td>
         <td>216</td>
         <td>5922</td>
         <td>NARENDRA SAINI</td>
         <td>2023-05-09 08:57:15.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td>NA4021</td>
         <td>6459bd93a0813</td>
         <td>F9</td>
         <td></td>
         <td>5922</td>
         <td>8860479675</td>
         <th>2</th>
         <th>Imperial Villa</th>
         <th>2000</th>
         <th>1</th>
         <th>120           </th>
           <th>120</th>
           <th>2000</th>
         <th></th><th>2000</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5923</td>
         <td>217</td>
         <td>5923</td>
         <td>NASRAT KHAN</td>
         <td>2023-05-09 10:33:21.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td>NA538</td>
         <td>6459d419b168f</td>
         <td>F9</td>
         <td></td>
         <td>5923</td>
         <td>8327500700</td>
         <th>2</th>
         <th>Imperial Villa</th>
         <th>778</th>
         <th>1</th>
         <th>0           </th>
           <th>0</th>
           <th>778</th>
         <th></th><th>778</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5924</td>
         <td>220</td>
         <td>5924</td>
         <td>SHIREEN KHAN</td>
         <td>2023-05-09 11:41:12.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>6459e400dbb19</td>
         <td>OTA</td>
         <td>FAB</td>
         <td>5924</td>
         <td>8889722722</td>
         <th>1</th>
         <th>Imperial Villa</th>
         <th>3269</th>
         <th>1</th>
         <th>196           </th>
           <th>196</th>
           <th>3269</th>
         <th></th><th></th><th></th><th>2942</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>327</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5925</td>
         <td>G2</td>
         <td>5925</td>
         <td>PIYUSH</td>
         <td>2023-05-09 12:42:45.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>6459f26d469f0</td>
         <td>OTA</td>
         <td>BREVISTAY</td>
         <td>5925</td>
         <td>9999017939</td>
         <th>2</th>
         <th>Imperial Villa</th>
         <th>1777</th>
         <th>1</th>
         <th>107           </th>
           <th>107</th>
           <th>1777</th>
         <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>1777</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5926</td>
         <td>215</td>
         <td>5926</td>
         <td>AFTAF KADIR</td>
         <td>2023-05-09 12:52:41.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td>COLDBA</td>
         <td>6459f4c1ca994</td>
         <td>OTA</td>
         <td>FAB</td>
         <td>5926</td>
         <td>8802002761</td>
         <th>2</th>
         <th>Imperial Villa</th>
         <th>4302</th>
         <th>1</th>
         <th>258           </th>
           <th>258</th>
           <th>4302</th>
         <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>4302</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5927</td>
         <td>G5</td>
         <td>5927</td>
         <td>VARINDRA</td>
         <td>2023-05-09 13:23:30.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td>VA1702</td>
         <td>6459fbfa222ce</td>
         <td>F9</td>
         <td></td>
         <td>5927</td>
         <td>8811181271</td>
         <th>2</th>
         <th>Imperial Villa</th>
         <th>2000</th>
         <th>1</th>
         <th>120           </th>
           <th>120</th>
           <th>2000</th>
         <th></th><th>2000</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5928</td>
         <td>111</td>
         <td>5928</td>
         <td>GOVIND SHARMA</td>
         <td>2023-05-09 13:24:35.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td>GO8567</td>
         <td>6459fc3b6eef1</td>
         <td>F9</td>
         <td></td>
         <td>5928</td>
         <td>9582098973</td>
         <th>2</th>
         <th>Imperial Villa</th>
         <th>2000</th>
         <th>1</th>
         <th>120           </th>
           <th>120</th>
           <th>2000</th>
         <th></th><th></th><th></th><th>2000</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5929</td>
         <td>G5</td>
         <td>5929</td>
         <td>Karan Agarwal</td>
         <td>2023-05-09 14:44:25.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td>Ka710</td>
         <td>645a0ef15058a</td>
         <td>F9</td>
         <td></td>
         <td>5929</td>
         <td>8860050286</td>
         <th>2</th>
         <th>Imperial Villa</th>
         <th>2000</th>
         <th>1</th>
         <th>120           </th>
           <th>120</th>
           <th>2000</th>
         <th></th><th></th><th></th><th>2000</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5930</td>
         <td>221</td>
         <td>5930</td>
         <td>VIPUL</td>
         <td>2023-05-09 15:47:32.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>645a1dbd01164</td>
         <td>OTA</td>
         <td>BREVISTAY</td>
         <td>5930</td>
         <td>9958081868</td>
         <th>2</th>
         <th>Imperial Villa</th>
         <th>1791</th>
         <th>1</th>
         <th>107           </th>
           <th>107</th>
           <th>1791</th>
         <th></th><th></th><th></th><th>1791</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5931</td>
         <td>108</td>
         <td>5931</td>
         <td>VINOD KUMAR KONDALA</td>
         <td>2023-05-09 19:02:02.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td>TQOF7Z</td>
         <td>645a4b5291f45</td>
         <td>OTA</td>
         <td>FAB</td>
         <td>5931</td>
         <td>9830466996</td>
         <th>1</th>
         <th>Imperial Villa</th>
         <th>2581</th>
         <th>1</th>
         <th>155           </th>
           <th>155</th>
           <th>2581</th>
         <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>2581</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5932</td>
         <td>G2</td>
         <td>5932</td>
         <td>GOPI NATH KHODE</td>
         <td>2023-05-09 19:49:59.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>645a568f606a9</td>
         <td>OTA</td>
         <td>FAB</td>
         <td>5932</td>
         <td>9822649950</td>
         <th>15</th>
         <th>Imperial Villa</th>
         <th>2714</th>
         <th>1</th>
         <th>163           </th>
           <th>163</th>
           <th>2711.5714285714</th>
         <th></th><th>578</th><th>1455</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>678.57142857143</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5932</td>
         <td>G5</td>
         <td>5932</td>
         <td>GOPI NATH KHODE</td>
         <td>2023-05-09 19:49:59.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>645a568f606a9</td>
         <td>OTA</td>
         <td>FAB</td>
         <td>5932</td>
         <td>9822649950</td>
         <th>15</th>
         <th>Imperial Villa</th>
         <th>2714</th>
         <th>1</th>
         <th>162           </th>
           <th>162</th>
           <th>2701.5714285714</th>
         <th></th><th>578</th><th>1445</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>678.57142857143</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5932</td>
         <td>107</td>
         <td>5932</td>
         <td>GOPI NATH KHODE</td>
         <td>2023-05-09 19:49:59.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>645a568f606a9</td>
         <td>OTA</td>
         <td>FAB</td>
         <td>5932</td>
         <td>9822649950</td>
         <th>15</th>
         <th>Imperial Villa</th>
         <th>2714</th>
         <th>1</th>
         <th>163           </th>
           <th>163</th>
           <th>2711.5714285714</th>
         <th></th><th>578</th><th>1455</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>678.57142857143</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5932</td>
         <td>109</td>
         <td>5932</td>
         <td>GOPI NATH KHODE</td>
         <td>2023-05-09 19:49:59.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>645a568f606a9</td>
         <td>OTA</td>
         <td>FAB</td>
         <td>5932</td>
         <td>9822649950</td>
         <th>15</th>
         <th>Imperial Villa</th>
         <th>2714</th>
         <th>1</th>
         <th>163           </th>
           <th>163</th>
           <th>2711.5714285714</th>
         <th></th><th>578</th><th>1455</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>678.57142857143</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5932</td>
         <td>215</td>
         <td>5932</td>
         <td>GOPI NATH KHODE</td>
         <td>2023-05-09 19:49:59.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>645a568f606a9</td>
         <td>OTA</td>
         <td>FAB</td>
         <td>5932</td>
         <td>9822649950</td>
         <th>15</th>
         <th>Imperial Villa</th>
         <th>2714</th>
         <th>1</th>
         <th>163           </th>
           <th>163</th>
           <th>2711.5714285714</th>
         <th></th><th>578</th><th>1455</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>678.57142857143</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5932</td>
         <td>217</td>
         <td>5932</td>
         <td>GOPI NATH KHODE</td>
         <td>2023-05-09 19:49:59.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>645a568f606a9</td>
         <td>OTA</td>
         <td>FAB</td>
         <td>5932</td>
         <td>9822649950</td>
         <th>15</th>
         <th>Imperial Villa</th>
         <th>2714</th>
         <th>1</th>
         <th>163           </th>
           <th>163</th>
           <th>2711.5714285714</th>
         <th></th><th>578</th><th>1455</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>678.57142857143</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5932</td>
         <td>111</td>
         <td>5932</td>
         <td>GOPI NATH KHODE</td>
         <td>2023-05-09 19:49:59.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>645a568f606a9</td>
         <td>OTA</td>
         <td>FAB</td>
         <td>5932</td>
         <td>9822649950</td>
         <th>15</th>
         <th>Imperial Villa</th>
         <th>2714</th>
         <th>1</th>
         <th>163           </th>
           <th>163</th>
           <th>2711.5714285714</th>
         <th></th><th>578</th><th>1455</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>678.57142857143</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td>IV5933</td>
         <td>G6</td>
         <td>5933</td>
         <td>DHANAJAY GHULATI</td>
         <td>2023-05-09 22:06:18.000000</td>
         <td>2023-05-10 00:00:00.000000</td>
         <td></td>
         <td>645a7682bc35a</td>
         <td>OTA</td>
         <td>FAB</td>
         <td>5933</td>
         <td>8285972214</td>
         <th>2</th>
         <th>Imperial Villa</th>
         <th>2338</th>
         <th>1</th>
         <th>140           </th>
           <th>140</th>
           <th>2338</th>
         <th></th><th></th><th></th><th>2338</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
         
     <tr>
         <td></td>
         <td>216</td>
         <td>5934</td>
         <td>AMIT ARORA</td>
         <td>2023-05-09 22:13:20.000000</td>
         <td></td>
         <td>AM6970</td>
         <td>645a7828a39b4</td>
         <td>F9</td>
         <td></td>
         <td>5934</td>
         <td>9419796707</td>
         <th>2</th>
         <th>Imperial Villa</th>
         <th>2350</th>
         <th>2</th>
         <th>132           </th>
           <th>132</th>
           <th>2200</th>
         <th></th><th>2200</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>         <th></th>
         <td></td>
     </tr> 
   
        
</table>

<table>
    <tr>
        <th><b>Total Payment</b></th>
        <th><b>Expenses</b></th>
        <th><b>Revenue</b></th>
        <th><b>Remark</b></th>
        <th><b>Title</b></th>
    </tr>
    
    <tr><td>308</td><td></td><td>308</td><td>FOOD BILL ROOM NO. 220</td><td>EXTRA KITCHEN REVENUE</td></tr><tr><td>1765</td><td></td><td>1765</td><td>FOOD BILL ROOM NO. G2</td><td>EXTRA KITCHEN REVENUE</td></tr><tr><td>110</td><td></td><td>110</td><td>FOOD BILL ROOM NO. 215</td><td>EXTRA KITCHEN REVENUE</td></tr><tr><td>396</td><td></td><td>396</td><td>FOOD BILL ROOM NO. G5</td><td>EXTRA KITCHEN REVENUE</td></tr><tr><td>1760</td><td></td><td>1760</td><td>ROOM NO 109 & 111</td><td>FOOD BILL</td></tr><tr><td>418</td><td></td><td>418</td><td>Guest Food Bill  room no 216</td><td>KITCHEN EXTRA REVENUE</td></tr><tr><td>1672</td><td></td><td>1672</td><td>Guest Food Bill  room no 217</td><td>KITCHENE EXTRA RENUE</td></tr><tr><td>880</td><td></td><td>880</td><td>Food Bill Room no.G6</td><td>Extra kitchen revenue</td></tr></table>